parameters:
    healthchecks.class: "prgTW\\HealthchecksBundle\\Healthchecks"
    healthchecks.command.ping.class: "prgTW\\HealthchecksBundle\\Command\\PingCommand"
    healthchecks.command.pause.class: "prgTW\\HealthchecksBundle\\Command\\PauseCommand"
    healthchecks.command.setup.class: "prgTW\\HealthchecksBundle\\Command\\SetupCommand"
    healthchecks.command.wrap.class: "prgTW\\HealthchecksBundle\\Command\\WrapCommand"
    healthchecks.resolver.default.class: "prgTW\\HealthchecksBundle\\Resolver\\DefaultResolver"

services:
    healthchecks.resolver.default:
        class: "%healthchecks.resolver.default.class%"
        arguments:
            - "%healthchecks.checks%"

    healthchecks.resolver:
        synthetic: true

    healthchecks.api:
        class: "%healthchecks.class%"
        arguments:
            - # API keys
            - # API base_uri
            - "@healthchecks.resolver"
            - "@jms_serializer"

    healthchecks.command.ping:
        class: "%healthchecks.command.ping.class%"
        arguments:
            - "@healthchecks.api"
        tags:
            - { name: "console.command" }

    healthchecks.command.pause:
        class: "%healthchecks.command.pause.class%"
        arguments:
            - "@healthchecks.api"
        tags:
            - { name: "console.command" }

    healthchecks.command.setup:
        class: "%healthchecks.command.setup.class%"
        arguments:
            - "@healthchecks.api"
            - "@healthchecks.resolver"
        tags:
            - { name: "console.command" }

    healthchecks.command.wrap:
        class: "%healthchecks.command.wrap.class%"
        arguments:
            - "@healthchecks.api"
        tags:
            - { name: "console.command" }
